$wrapper_width: 100%;
$wrapper_width_after_menue:80%;
$navbar_height: 68px;
$navbar_width: 100%;
$screen_height: 100%;
$size_when_screen_short: 76%;
$search_input_height: 40px;
$sidemenue_color: #FFFF; // considering #a76dd1
$rightside_color: #C0C0C0; // considering #36A3A4

body{
    overflow-x: hidden;
    background-color: $rightside_color;
}

//adjusting the scrollbar

::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(255, 255, 255);

}
::-webkit-scrollbar-thumb{
    background-color:#a76dd1;
    border-radius: 5px;
}


//styling the wrapper/container
.wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $navbar_height + 5px;
    left: 0px;
    width: 100%;
    min-width: 200px;
    height: $screen_height;
    justify-content: center;
    background-color: blue;
}


//styling the search page of the website

#search_page{
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    right: 0px;
    display: block;
    padding: 30px 50px;
}

#search_page h1{
    margin-left: 15px;
}

#search_page input{
    border: 1.9px solid #a76dd1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
    background-color: red;
    width: 85%;
    height: $search_input_height;
    font-size: large;
    background-color: rgb(243, 241, 224);

}
.search_input:focus{
    outline: none;
}


.wrapper_searh_icon{
    display: flex;
    border: 1.9px solid #a76dd1;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: x-large;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(243, 241, 224);
    width: 30px;
    height: $search_input_height +2px;

}


// Just the submit button

#search_submit_button{
    margin: 20px ;
    margin-left: 15px;
    width: 95px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #a76dd1;
    font-size: 20px;
    cursor: pointer;
}


//styling both the seachbar and the search icon that's on the container/wrapper

.seachbarNsearchI{
    max-width: 400px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}



//Styling the menue bar. (the list that's at the left of the screen)
.menuebar{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    box-shadow: 4px 1px 39px -5px rgba(97,96,96,0.75);
-webkit-box-shadow: 4px 1px 39px -5px rgba(97,96,96,0.75);
-moz-box-shadow: 4px 1px 39px -5px rgba(97,96,96,0.75);
    border-right: 0.8px solid gray;
    transition: 0.3s ease;
    background-color: $sidemenue_color;
    width:calc(100% - $wrapper_width);
    height: $screen_height;
    min-width: 120px;
}

//styling the letter a from the website name

.a_span{
    color: #a76dd1;
}

//styling the icons on the sidebar

.side_buttons .side_icon{
    display: flex;
    position: relative;
    align-self: left;
    justify-self: left;
    left: -10px;
}

.side_icon.history{
    left: -13px;
}

//styling the website's name that's on the sidebar

.webname_sidebar{
    position: relative;
    cursor:pointer;
    height: 100%;
    top: -25px;
    width: 100%;
    left: 0px;
    right: 0px;
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// styling the website's name but for the home page

.webname_sidebar_for_home_page{
    display: flex;
    position: relative;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    
}

.webname_a_tag_sidebar{
    left: 10px;
    position: relative;
    width: 70%;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

// (innerwrap) is what each page will have in common
.innerwrap{
    position: relative;
    left: 0px;
    height: 100%;
    background: none;
}

// These are the side buttons on the menue bar of our app

.side_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
    width: 90%;
    height: 40px;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    transition: .2s ease-out;
    margin: 10px auto;
    cursor: pointer;
    border: 0px;
    border-radius: 8px;
}

.side_buttons::before{
    position:absolute;
    content: '';
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 8px;
    left: 0px;
    background-color:#a76dd1;
    height: 100%;
    opacity: 0;
}

.side_buttons:hover{
    background-color: rgba(189, 189, 189, 0.613);
}

.side_buttons:hover::before{
    animation: before_animation .9s linear ;
    opacity: 1;
}



// styling the navbar of the website

.navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: $navbar_width;
    height: $navbar_height;
    // background-color: red;
    align-content: center;
    display: flex;
    box-shadow: 0px 4px 11px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 11px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 11px -3px rgba(0,0,0,0.75);;
    flex-direction: row;
 
}


// stling the icons in the navbar

.navbar_icons{
    position: relative;
    display: flex;
    min-width: 250px;
    height: 100%;
    // background-color: red;
    align-items: center;
    left: 40%;
    transition: .3s ease-in;
}

.navbar a{
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin: 0px 25px;
    font-size: 30px;
}

.avatar{
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    position: relative;
    z-index: 999;
    top: 17px;
    left: 60%;
    align-self: center;
    // background-color: red;
    width: 60px;
    height: 80px;
    transition: .3s ease-in;
}

.avatar_circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #a76dd1;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    transition: .3s ease-in;
}
.avatar_circle:hover + .avatar_dropdown {
    display: block;
}
.avatar_circle:active{
    outline: 2px solid #a76dd1;
}

.avatar_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    transition: .3s ease-in;
}

.avatar_dropdown{
    display: none;
    align-self: center;
    bottom: 0px;
    position: relative;



} 

.avatar_dropdown_content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 500px;
    background-color: #3f3e3e;
    align-items: center;
    border-radius: 10px;
    align-self: center;
    transition: .3s ease-in;
    bottom: 0px;

}

.avatar_dropdown_content a{
    width: 100%;
    align-self: center;
    height: 50px;
    align-items: center;
    justify-self: center;
    position: relative;
    margin: 20px 0px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: .3s ease-in;


}

.avatar_dropdown_content a:hover{
    background-color: #716e6e;
}


.lst{
    
    position: relative;
    margin: 10px auto;
    width: 400px;
    height: 250px;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease-in;

}
.lst:hover{
    font-size: 20px;
}

.lst_skeleton{
    z-index: 99;
    position: relative;
    width: 400px;
    height: 240px;
    background-color: green;
    display: flex;
    flex-direction: 'column';
}


#favorite_right{
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100%;
    right: 0px;
}


//styling the loaidng animation of the page 

.skeleton_animation{
    width: 100vw;
    height: 100vh;
}



//styling the settings page 

.my_settings_text{
    position: relative;
    font-size: 30px;
    margin: 20px auto;
    left: 20px;
    top: 20px;
}
.account_text{
    position: relative;
    margin: 20px auto;
    left: 20px;
    top: 20px;
}
.user_info{
    position: relative;
    margin: 20px auto;
    left: 20px;
    top: 20px;
}
.edit_account_info{
    position: relative;
    margin: 20px auto;
    left: 20px;
    top: 40px;
    
}
.edit_account_info_button{
    position: relative;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #a76dd1;
    font-size: 20px;
    cursor: pointer;
}

.edit_account_info_button:active{
    animation: before_animation .9s linear ;
}


//adding animations to the website (side buttons)

@keyframes before_animation {
    from{
        background-color: #6400ab;
    }
    to{
        background-color: #a76dd1;
    }
}



// adjusting the website's media which makes the we responsive
// @media (width <= 1170px) {
//     .wrapper{
//         width: $size_when_screen_short;
//     }
//     .menuebar{
//         width:calc(100% - $size_when_screen_short);

//     }
    
// }


@media (width <= 850px){

    .webname_a_tag_sidebar{
        width: 85%;
    }

}

@media (width <= 800px){
    .webname_a_tag_sidebar{
        width: 90%;
    }
}

@media (width <= 670px){
    .webname_a_tag_sidebar{
        font-size: 25px;
        left: 0px;
        width: 95%;
    }
}


@media (width <= 605px){
    .webname_a_tag_sidebar{
        font-size: 20px;
        left: 0px;
        width: 100%;
    }
}

@media (width <= 570px){
    .wrapper{
        width: $size_when_screen_short;
    }
    .webname_sidebar{
        left: 0;
        font-size: 24px;
    } 
}

@media (width <= 450px){
    
    .webname_sidebar_for_home_page{
        font-size: 30px;
    }
}

@media (width <= 350px){
    .webname_sidebar_for_home_page{
        font-size: 20px;
    }
}

@media (width <= 250px){
    .webname_sidebar_for_home_page{
        font-size: 12px;
    }
}